.App {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    height: 100vh;
    overflow: auto;
}

.completed-task {
    text-decoration: line-through;
    color: #db3545;
}

main {
    width: 100%;
    grid-area: Main;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
}

header {
    grid-area: Header;
    padding: 12px 24px;
    flex-direction: column;
    display: block;
    align-items: baseline;
}

#TodoList {
    margin-bottom: 24px;
}

.TodoList-input {
    width: 100%;
    padding-top: 4px;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 500;
    outline: none;
    text-align: center;
    color: black;
}

.entries-list {
    list-style: none;
    padding: 0;
    display: inline-block;
    flex-wrap: wrap;
}

    .entries-list > * {
        margin-right: 16px;
        margin-bottom: 16px;
    }

.entry {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    position: relative;
    font-size: 18px;
    background: rgba(2, 212, 252);
}

.entry-actions-container {
    position: absolute;
    top: 0px;
    right: -170px;
    display: block;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

    /*making space between the two buttons*/
    .entry-actions-container > * {
        margin-right: 6px;
    }

.entry:hover .entry-actions-container {
    opacity: 1;
}

.entry-actions-container button:hover {
    filter: brightness(1.3);
}

.remove {
    background: #db3545;
}

.done {
    background: rgb(46, 230, 70);
}

.entry-done {
    background: rgba(155, 155, 155, 0.25);
    opacity: 0.25;
}


.card {
    background: whitesmoke;
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: start;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 10px 10px;
}

.h3 {
    font-size: 18px;
    white-space: pre;

}

.h4 {
    font-family: 'Courier New', monospace;
}