/** {*/
    /*font-family: lato;*/
    /*margin: 0;
    margin-bottom: 2em;
    padding: 0;
}*/

.content {
    padding-top: 2em;
    text-align: center;
}

input {
    font-size: 1.2em;
    text-align: center;
}

.weather {
    display: flex;
    flex-wrap: wrap;
}

    .weather p:nth-child(odd) {
        margin-right: 1em;
        text-align: left;
        width: 49vw;
    }

    .weather p:nth-child(even) {
        width: 10vw;
    }
